<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html>
  <head>
    <title>Mood Tunes Us</title>
    <base href='/'>
    <link href='' rel='canonical'>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='' property='fb:app_id'>
    <meta content='' property='og:url'>
    <meta content='' property='og:description'>
    <meta content='' property='og:title'>
    <meta content='' property='og:image'>
    <meta content='' property='og:site_name'>
    <meta content='' name='apple-itunes-app'>
    <meta content='app' name='twitter:card'>
    <meta content='' name='twitter:site'>
    <meta content='' name='twitter:description'>
    <meta content='US' name='twitter:app:country'>
    <meta content='' name='twitter:app:name:iphone'>
    <meta content='' name='twitter:app:id:iphone'>
    <meta content='' name='twitter:app:name:ipad'>
    <meta content='' name='twitter:app:id:ipad'>
    <meta content='' name='twitter:app:name:googleplay'>
    <meta content='' name='twitter:app:id:googleplay'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style'>
    <link href='img/favicon.png' rel='shortcut icon'>
    <link href='img/safaricon.png' rel='apple-touch-icon'>
    <link href="css/main-0c3a52b1.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <body ng-app='App'>
      <div class='main'>
        <div class='logo col-5 mx-auto mt4'>
          <a href='/'>
            <img alt='White Label Template' class='fit' src='img/logo-58773ac0.svg'>
          </a>
          <h2 class='center'>Mood Tunes</h2>
        </div>
        <ng-view></ng-view>
        <div class='main__archive ng-cloak animatedLong fadeIn'>
          <ul class='main__archive-grid' ng-controller='MixListCtrl'>
            <li class='currentMix mix' ng-repeat='mix in Mix.Mixes.array'>
              <div ng-class="{'mixtapes': true, 'playing': mix.id === Mix.PlayingMixID}" ng-click='ChangeMixtape(mix)'>
                <img alt='{{mix.title}}' class='lazy animated fadeIn' data-original='{{mix.artwork_url}}' height='250' src='/img/grey-c08ae59b.jpg' width='250'>
                <span>{{mix.title}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class='footer-player'>
        <div class='audio-player' ng-controller='AudioCtrl'>
          <div class='audio-player__track-info center ng-cloak'>
            <div class='audio-player__artist animatedMed fadeIn'>
              <p class='m0 truncate' ng-bind='currentTrack.title'></p>
            </div>
            <div class='audio-player__song mt0 animatedMed fadeIn'>
              <p class='m0 grey truncate' ng-bind='currentTrack.artist'></p>
            </div>
          </div>
          <div class='audio-player__controls center mt3 mb3'>
            <div class='audio-player__volume inline-block'>
              <i class='fa fa-volume-up' ng-click='show=!show'></i>
              <div class='volume ng-cloak' ng-show='show'>
                <input class='vslider' data-slider-orientation='horizontal' data-slider-selection='after' data-slider-step='1' data-slider-tooltip='hide' data-slider-value=''>
              </div>
            </div>
            <div class='audio-player__play inline-block'>
              <a href='' ng-click='PlayPauseClick()'>
                <i class='fa fa-play mx3 h1' ng-class="{'fa-play': audio.state !== 'playing', 'fa-pause': audio.state !== 'stopped'}"></i>
              </a>
            </div>
            <div class='audio-player__skip inline-block'>
              <a href='' ng-click='audio.PlayNextSong()'>
                <i class='fa fa-forward'></i>
              </a>
            </div>
          </div>
          <div id='progress-bar'>
            <div id='progress'></div>
          </div>
        </div>
      </div>
      <div class='main'>
        <footer class='col-12 ng-cloak animatedLong fadeIn'>
          <ul class='list-reset center'>
            <li class='inline-block'>
              <a href='http://soundcloud.com' target='_blank'>
                <i class='fa fa-soundcloud'></i>
                Powered by Soundcloud
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </body>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
    </script>
    <script src="js/main-3bac1933.js"></script>
  </head>
</html>
